@font-face {
  font-family: "Utm Aptima";
  src: url("./assets/fonts/utm-aptima.ttf");
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Utm Aptima", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #484848;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
